<div class="layui-tab layui-tab-fixed layui-tab-brief">
    <ul class="layui-tab-title">
        <li class="layui-this">基本配置</li>
    </ul>
    <div class="layui-tab-content editor-form-node">
        <div class="layui-tab-item layui-show">
            <form class="layui-form">
                <div class="layui-row">
                    <div class="layui-col-md3">
                        <div class="layui-form-item">
                            <label class="layui-form-label">节点名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="value" placeholder="请输入节点名称" value="{{=d.value}}" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-form-item">
                            <label class="layui-form-label">Guid</label>
                            <div class="layui-input-block">
                                <div class="layui-input-block" codemirror="guid" placeholder="请输入 Guid" data-value="{{=d.data.object.guid}}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-form-item">
                            <label class="layui-form-label">请求方法</label>
                            <div class="layui-input-block">
                                <select name="messagePushMethod">
                                    <option value="POST" {{d.data.object.messagePushMethod == 'POST' ? 'selected': ''}}>POST</option>
                                    <option value="GET" {{d.data.object.messagePushMethod == 'GET' ? 'selected': ''}}>GET</option>
                                    <option value="PUT" {{d.data.object.messagePushMethod == 'PUT' ? 'selected':''}}>PUT</option>
                                    <option value="DELETE" {{d.data.object.messagePushMethod == 'DELETE' ? 'selected':''}}>DELETE</option>
                                    <option value="PATCH" {{d.data.object.messagePushMethod == 'PATCH' ? 'selected':''}}>PATCH</option>
                                    <option value="HEAD" {{d.data.object.messagePushMethod == 'HEAD' ? 'selected':''}}>HEAD</option>
                                    <option value="OPTIONS" {{d.data.object.messagePushMethod == 'OPTIONS' ? 'selected':''}}>OPTIONS</option>
                                    <option value="TRACE" {{d.data.object.messagePushMethod == 'TRACE' ? 'selected':''}}>TRACE</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md3">
                        <div class="layui-form-item">
                            <label class="layui-form-label">推送地址</label>
                            <div class="layui-input-block">
                                <input type="text" name="messagePushUrl" placeholder="请输入消息推送地址" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.messagePushUrl}}">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-form-item">
                            <label class="layui-form-label">推送目标</label>
                            <div class="layui-input-block">
                                <input type="text" name="messagePushTarget" placeholder="请输入消息推送目标" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.messagePushTarget}}">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-form-item">
                            <label class="layui-form-label">SessionKey</label>
                            <div class="layui-input-block">
                                <div class="layui-input-block" codemirror="sessionKey" placeholder="请输入 SessionKey" data-value="{{=d.data.object.sessionKey}}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md3">
                        <div class="layui-form-item">
                            <label class="layui-form-label">分组</label>
                            <div class="layui-input-block">
                                <input type="text" name="category" placeholder="请输入消息推送分组" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.category}}">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-form-item">
                            <label class="layui-form-label">消息输出</label>
                            <select name="messageOutputType">
                                <option value="0" {{d.data.object.messageOutputType == '0' ? 'selected': ''}}>单条输出</option>
                                <option value="1" {{d.data.object.messageOutputType == '1' ? 'selected': ''}}>整合输出</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>